*, *::after, *::before{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: 'Work Sans', sans-serif;
    
}
body{
    height: 100vh;
    background-color: black;
}
.flex {
    display: flex;
}
.flex-center{
    justify-content: center;
    align-items: center;
} 
.row{
    flex-direction: row;
}
.col{
    flex-direction: column;
}
.ver-align{
    align-items: center;
}
.border{
    border: solid rgba(0, 0, 0, 0.356);
    border-radius: 10px ;
}
.mar-l-10{
    margin-left: 10px;
}
.mar-t-10{
    margin-top: 10px;
}
.mar-r-10{
    margin-right: 10px;
}
main{
    width: 500px;
    background-color: rgba(255, 255, 255, 0.267);
    padding: 10px 0;
}
h1{
    font-weight: 800;
}
h2{
    font-weight: 700;
}
h3{
    font-weight: 500;
}
h1, h2 ,#bgText{
    text-align: center;
}
p{
    font-weight: 700;
    font-size: 0.85em;
}
.w-5-ch{
    width: 5ch;
}
